@import"../base/listas";
.icono-yt{display: flex;
    justify-content: center;
    height: 150px;
    width: 15%;
    margin-left: 31%;
    margin-top: 4%;
    
}

.youtube{
    p{background-color: #000000;
        color: nth($colores,1);
        display: block;
        text-align: center;
        font-size: nth($font-size,5);
        margin-left: 40%;
        margin-right: 40%;
        margin-bottom: 1%;
    }
}

.youtube iframe {
    margin-left: 32%;
}
