.footer-container {
    position: fixed;
    bottom: 20px;
    right: 0;
    nav {
        ul {
            list-style-type: none;

            li {
                padding-top: 15%;

               
            }
        }
    }
}

.lista-footer img {
    width: 70%;
    height: 70%;

}