*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
/*Mobile*/
@media only screen and (max-width:450px) {
    .header-container li{
        padding-top: 20%;
    }

}

/*Tablet*/
@media only screen and (min-width:451px) and (max-width:960px) {
    .header-container li{
        padding-top: 13%;
    }
    body {
        background-image: url(./imagenes/nuevavidafondo.jpg);
    }
}